@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white bg-glow min-h-screen selection:bg-accent selection:text-white;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-white/20;
}

input:focus, button:focus {
  outline: none;
}